langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_core==1.2.18
langchain_groq==1.1.2
langchain_huggingface==1.2.1
langchain_text_splitters==1.1.1
python-dotenv==1.2.2
streamlit==1.44.0
chromadb
sentence-transformers
pypdf
docx2txt
unstructured[xlsx]
